{% extends "accueil.html" %}

{% block soustitre %}Qui sommes-nous?{% endblock %}

{% block content %}
<p>Bienvenue sur le site des Amis du Littoral. Notre association a aujourd’hui trois centres d'intérêt :<p>
<ul>
<li>Le Bassin d’Arcachon, son hydrologie, la pureté de son eau, la pérennité des activités qu’il génère (ostréiculture et plaisance).</li>

<li>La préservation des zones humides et du patrimoine forestier.</li>

<li>L’urbanisme et l’aménagement de l’espace</li>
</ul>
<p>Sur tous ces sujets, les Amis du Littoral cherchent à diffuser une 
	information objective sur l'état de notre environnement 
	proche (notre ecosystème) et souhaitent se montrer pédagogique 
	pour la compréhension des phénomènes naturels forcément complexes.
	Ils sont présents auprès des administrations et des élus et donnent leur avis sur
	l'aménagement de l'espace et le développement du territoire.
</p>
   
{% endblock %}