{% extends "accueil.html" %}

{% block soustitre%}Quel Bassin voulons nous?{% endblock %}

{%block content%}
<p><strong>Ce qu’il faut préserver :</strong></p>

	<ul>

		<li>Le Bassin de marée haute et la baignade sur toutes ses plages</li>

		<li>Le Bassin de marée basse accessible à pied par les esteys à fond sableux</li>

		<li>L’ostréiculture et la pêche associée</li>

		<li>Les ports ostréicoles et leurs cabanes</li>

		<li>Les paysages littoraux et les coulées vertes et bleues existantes</li>

		<li>Les prés salés et les espaces endigués</li>

		<li>La navigation de plaisance et notamment la voile</li>

		<li>Les clubs nautiques</li>

		<li>Les sports nautiques</li>
	</ul>

	<p><strong>Ce que le bassin ne doit pas devenir :</strong></p>

	<ul>

		<li>Une lagune polluée sans possibilité de baignade, morte et sans vie aquatique, enserrée dans une agglomération urbaine polluante.</li>

		<li>Un circuit de vitesse pour canots automobiles surpuissants.</li>

		<li>Le support de transports collectifs nautiques intensifs forcément polluants.</li>

	</ul>

		<p><strong>Les conditions nécessaire :</strong></p>

	<ul>

		<li>Une volonté politique à toute épreuve</li>

		<li>Une croissance maîtrisée et un urbanisme respectueux de l'écosystème du Bassin</li>

		<li>La maîtrise de la circulation automobile et des émissions de HAP (1)</li>

		<li>Une navigation de plaisance respectueuse de l’environnement</li>

		<li>Le retour des Zostères et la diminution de la turbidité des eaux, donc de l’envasement</li>

		<li>L’entretien hydrologique du Bassin, autrefois assuré par des ostréiculteurs nombreux et présents partout, et le nettoyage des parcs anciens</li>

		<li>La maîtrise des spartines et leur recul</li>

	</ul>

	<p>(1) HAP : Hydrocarbures aromatiques polycycliques résidus de combustion incomplète dans les moteurs à terre ou en mer.</p>


{% endblock %}