{% extends "accueil.html" %}

{% block soustitre %}Le bureau de l'association{% endblock %}

{% block content %}
<table>
	<tr>
	  <th>Poste</th>
	  <th>Nom</th> 
	  <th>E-mail</th>
	  <th>Téléphone</th>
	</tr>
	<tr>
	  <th>Président</th>
	  <td>Christophe PLOUX</td>
	  <td>christophe.ploux@gmail.com</td>
	  <td>06 11 50 14 12</td>
	</tr>
	<tr>
	  <th rowspan=2>Vice présidents</th>
	  <td>Olivier GAUTIER</td>
	  <td>olivier.gautier@orange.fr</td>
	  <td>06 14 83 52 14</td>
	</tr>
	<tr>
	  <td>Jean François PAHUN</td>
	  <td>jeanfrancois.pahun@orange.fr</td>
	  <td>06 63 04 22 76</td>
	</tr>
	<tr>
		<th>Trésorier</th>
	  <td>Vincent GAUTIER</td>
	  <td>vincent-gautier3@wanadoo.fr</td>
	  <td>06 12 76 35 70</td>
	</tr>
	<tr>
	  <th>Secrétaire</th>
	  <td>Elise DUPRE</td>
	  <td>elise.dupre91@gmail.com</td>
	  <td>06 70 61 08 68</td>
	</tr>
	<tr>
	  <th>Chargé de mission</th>
	  <td>Marion PEREZ</td>
	  <td></td>
	  <td></td>
	</tr>  
  </table>

{% endblock %}
