{% extends "accueil.html" %}

{% block soustitre %}Le bureau de l'association{% endblock %}

{% block content %}
<table>
	<tr>
	  <th>Poste</th>
	  <th>Nom</th> 
	  <th>E-mail</th>
	  <th>Téléphone</th>
	</tr>
	<tr>
	  <th>Président</th>
	  <td>Michel Gautier</td>
	  <td>m.gautier@wanadoo.fr</td>
	  <td>06 09 47 67 67</td>
	</tr>
	<tr>
	  <th rowspan=2>Vice présidents</th>
	  <td>Max Dignan</td>
	  <td>max.dignan@orange.fr</td>
	  <td>06 23 83 94 72</td>
	</tr>
	<tr>
	  <td>Jean François Pahun</td>
	  <td>jeanfrancois.pahun@orange.fr</td>
	  <td>06 63 04 22 76</td>
	</tr>
	<tr>
		<th>Trésorière</th>
	  <td>Jacqueline Follet</td>
	  <td></td>
	  <td></td>
	</tr>
	<tr>
		<th>Chargé de mission</th>
	  <td>Elise Dupré</td>
	  <td>elise.dupre91@gmail.com</td>
	  <td>06 70 61 08 68</td>
	</tr>  
  </table>

{% endblock %}
