{% extends "base.html" %}
{% block title %}Les documents{% endblock %}
{% block sousnav %}
       <ul id ="documents">
            <li><a href = "/documents">Les documents</a><br/><hr/></li>
       </ul>
{% endblock %} 

{% block soustitre %}
Les documents
{% endblock %}
{% block content %}
<ul>
    <li><strong><a href="lddl" target="_blank">Le devenir du littoral Nord Bassin</a>.</strong> Décembre 2017</br>
    <p>Ce document synthétique a fait l'objet d'un débat lors de l'assemblée générale du 10 août 2017 et a été
    unanimement approuvé. Il résume la position des Amis du Littoral face à l'envasement de notre littoral.</p>
    </li>
    <li><strong><a href="abp" target="_blank">Impact du changement climatique sur le paysage dans la région Nord du Bassin d'Arcachon à Arès</a></strong>
    <p>Ce document élaboré dans le cadre de l'université du Temps Libre de Bordeaux a été présenté par Mr Bernard Ploux,
        membre de notre association. Monsieur Bernard Ploux a joué un rôle important dans son élaboration. Il a été décidé à 
        l'assemblée générale du 9 août 2018 de le présenter sur le site des Amis du Littoral avant l'organisation d'une
        réunion de débat.</br>
        Le document est publié sous la résponsabilité de ses auteurs et sa présence sur le site ne veut pas dire que les
        Amis du Littoral partagent toutes ces analyses, conclusions et propositions.</p>
    </li>
</ul>
{% endblock %}
