{% extends "accueil.html" %}

{% block soustitre%}L'histoire de l'association{% endblock %}

{%block content%}
<p>L’association a été créée en 1973, d’abord comme association « Les amis du littoral arésien »,
	puis <strong>«Les amis du littoral Nord-Bassin Arcachon »</strong>.
	Elle a été agréée en 1978 par la préfecture de Gironde, dans le cadre des applications du
	CODE DE L’URBANISME et de la loi du 10 juillet 1976 sur la PROTECTION DE LA
	NATURE, avec compétence géographique Lège-Cap-Ferret, Arès et Andernos-Les-Bains. </p>
	<br>
	<h4>Les membres fondateurs:</h4>
	<br>
	<article class= "col-lg-4">
		<div class= "bloc">
			<div class= "imgtrom">
				
			</div>
			<div class= "leg">
				<strong>M. Robert Dubourg</strong>
			</div>
		</div>

		<br>
		<p>Né le 04/05/1911 à Salles. Décédé le 12/06/1996 à Arès. Négociant en bois, co-directeur de la scierie Calliot et Dubourg. Grand spécialiste du patois gascon.</p>
	</article>
	<article class="col-lg-4">
		<div class= "bloc">
			<div class= "imgtrom">
				
			<div class= "leg">
				<strong>M. Louis Papy</strong>
			</div>
		</div>
		<br>
		<p>Né le 15/11/1903 à Mont-de-Marsan. Décédé le 28/05/1990 à Bordeaux. Agrégé d'histoire et de géographie. Professeur de géographie à la faculté des lettres de Bordeaux, dont il est devenu le Doyen en 1961. Officier de la Légion d'honneur.</p>
		<br>
	</article>
	<article class="col-lg-4">
		<div class= "bloc">
			<div class= "imgtrom">
			
			</div>
			<div class= "leg">
				<strong>M. André Ploux</strong>
			</div>
		</div>
		<br>
		<p>Né le 12/04/1904 à Bordeaux. Décédé le 18/08/1995 à Bordeaux.Diplômé de l'école Polytechnique (Promotion 1925). Ingénieur des poudres. Directeur de la compagnie Bordelaise des produits chimiques. Chevalier de la légion d'honneur.</p>
	</article>
	{% endblock %}