{% extends "accueil.html" %}

{% block soustitre%}Nos participationss{% endblock %}

{%block content%}
<p> Les amis du littoral Nord Bassin sont membres de la Côte Noroît :</p>

	<p>     La <strong>Côte Noroît</strong> regroupe des associations amies pour lesquelles
		la sauvegarde du caractère maritime de notre littoral est une priorité.
		Son objectif est la mise en commun des ressources materielles et
		humaines des associations membres pour faire face aux activités qui 
		touchent à la protection de notre cadre de vie et au développement durable.<br/><br/>
	</p>
		
<p>Jean-François Pahun représente les Amis du Littoral Nord Bassin dans la 
	Côte Noroît, associations dont il est vice-président.
</p>


{% endblock %}