{% extends "accueil.html" %}

{% block soustitre%}{% endblock %}

{%block content%}
<h3>Nos objectifs</h3>
	<p> Favoriser :</p>
	<ul>
		<li>La connaissance par le public des enjeux et projets locaux afin de permettre à chacun
			d’assumer plus pleinement sa liberté d’opinion et ses choix de citoyen (« mieux
			connaître pour mieux comprendre et mieux aimer »).</li>
		<li>Le développement culturel de la communauté des habitants du Nord-Bassin, qu’ils
				soient résidents permanents, estivants ou touristes.</li>
		<li>La sauvegarde, l’entretien et la mise en valeur du site naturel que forme le Nord-Bassin
					et de la qualité de vie qu’il constitue. </li>
	</ul>

	<h3>Nos activités</h3>

	<ul>
		<li>Des exposés présentés par des personnalités compétentes</li>
		<li>Des occasions de mieux connaître l’environnement, l’histoire locale et de prendre plaisir à satisfaire notre curiosité du vaste monde.</li>
		<li>Vigilance sur le respect de l’environnement</li>
		<li>Propositions et participations aux travaux des organismes qui traitent
			d’environnement, d’équipements et de sécurité</li>
		<li>Encouragement aux initiatives et innovations destinées à l’entretien, la protection ou
			la mise en valeur du site naturel</li>
		<li>Trait d'union entre le monde des experts, le monde académique des scientifiques et la société civile.</li>
	</ul>
	<p>
		Au sein de l’association, il y a également des activités de groupe exercées en toute
		convivialité : mémoire, balades guidées, randonnées...
		Tous les sujets et activités qui pourraient intéresser un groupe d’Amis du Littoral peuvent être
		l’objet de la création de nouvelles sections. 
	</p>

	<h3>Nos valeurs</h3>
	<p>
		L’association exerce ses activités dans le respect de valeurs qui font l’esprit des « amis du
		littoral » qui veulent être des personnes de bonne foi, de bonne volonté et de bonne
		compagnie. <br><br>
		<strong>L’amitié</strong> à donné son nom à l'association.<br><br>
		Les membres sont amis du littoral, le protègent et s’efforcent aussi d’avoir des relations
		amicales entre eux et avec ceux avec qui l’association travaille, l’amitié suppose une attitude
		bienveillante (évitant dénigrement et préjugés), qui écoute attentivement et respecte les
		opinions des autres, et réfléchit avant de s’exprimer, L’amitié est sincère, sans complaisance
		et désintéressée, donc sans arrière-pensées liées à des intérêts personnels cachés.<br><br>
		<strong>L’indépendance.</strong><br><br>
		Dans les domaines qu’elle aborde, 1’association se forgera une opinion indépendante en fonction
		des informations recueillies, des consultations faites auprès des personnes qualifiées ou
		d’organismes concernes, et après réflexion sur la base de ses éléments et consultation interne.
		Elle se garde de toute influence par des idéologies réductrices, des positions partisanes, des
		intérêts prives, politiques ou corporatistes.<br>
		Dans son fonctionnement, 1’association veille aussi à son indépendance en s’autofinançant le
		plus largement possible par les cotisations et contributions de ses membres.<br><br>
		<strong>La responsabilité.</strong><br><br>
		L’association veut défendre le bien public et se considère comme responsable d’un héritage, un
		environnement agréable et des biens communs qu’elle doit transmettre sans les dégrader. Elle
		pense que chaque collectivité doit assumer les nuisances qu’elle produit, en particulier au niveau
		des déchets, plutôt que s'en décharger sur d’autres. Elle cherche aussi à éviter des choix
		irréversibles qui s’imposeront aux générations à venir.<br><br>
		<strong>La coopération.</strong><br><br>
		L’association formule des propositions, des solutions réalisables, sans se limiter à une opposition
		à des projets ou à des revendications non constructives ou polémiques. Elle travaille en
		coopération avec toutes les parties concernées, ses concitoyens, les élus locaux, les
		administrations techniques, les autres associations, les experts indépendants.<br><br>
		<strong>La vigilance.</strong><br><br>
		L’association exerce une vigilance permanente à 1’égard de tout ce qui peut avoir un impact sur
		son environnement naturel et culturel. La vigilance permet d’être alerte le plus tôt possible pour
		intervenir en amont des problèmes ou des décisions et éviter d’être place dans des situations
		d’une complexité inextricable ou devant le fait accompli. Elle peut ainsi proposer des actions
		avant qu’elles ne deviennent inapplicables ou trop tardives. 
	</p>
	{% endblock %}