{% extends "contact.html" %}

{% block soustitre %}Rejoignez-nous!{% endblock %}

{% block content %}

	<p>Quatre catégories de membres:</p>
		<table>
			<tr>
				<th>Membre</th>
				<th>Individuel</th>
				<th>Couple</th>
			</tr>
			<tr>
				<td>Jeune (- 25 ans)</td>
				<td>5 €</td>
				<td></td>

			</tr>
			<tr>
				<td>Soutien</td>
				<td>5 €</td>
				<td></td>
			</tr>
			<tr>
				<td>Actif</td>
				<td>12 €</td>
				<td>18 €</td>
			</tr>
			<tr>
				<td>Bienfaiteur</td>
				<td>30 €</td>
				<td>45 €</td>
			</tr>
		</table>
		<br>
		<p>Cotisations donnant, dans tous les cas, le même droit de vote à l'assemblé générale.</p>

		<p>Le paiment peut s'effectuer par chèque ou de préférence par virement informatique:<br>
			Code IBAN: FR76 2004 1010 0101 3258 9M02 245</p>

		<p>Les courriers devront être adressés à:<br>
		Françoise Weeber 12 avenue de la gare 33740 Ares</p>
{% endblock %}